@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100vh;
}

  body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

   /* Header */
  .header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    height: 100px;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
  }

  .mainbody{
    display: flex;
    flex-direction: column;
  }

  /* Section One */
  .sectionone{
    background-color: #1f2937;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: space-between;
    height: 500px;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    gap: 80px;
  }

  .sectiononeleft {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .subtitleone{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
  }

  .placeholderone{
    width: 550px;
    height: auto;
  }

  .contentone, .header{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
  }

  .buttonone{
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
  }

   /* Section Two */
  .sectiontwo{
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 70px;
    padding-bottom: 120px;
    gap: 25px;
  }

  .subtitletwo{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .card {
    font-size: 18px;
    align-items: center;
    justify-content: center;
  }

  .cardimage {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border: 4px solid #3882f6;
  }

   /* Section Three */
  .sectionthree{
    background-color: #e5e7eb;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 120px;
    padding-bottom: 120px;
    align-items: center;
    justify-content: center;
  }

  .quote {
    display: flex;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
  }

  .ref{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: right;
  }

   /* Section Four */  
  .sectionfour{
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
  }

  .modal {
    background-color: #3882f6;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 60px;
    padding-left: 60px;
    gap: 20px;
  }

  .modalbutton{
    background-color: #3882f6;
    font-size: 18px;
    border-color: #f9faf8;
    color: #f9faf8;
    border-radius: 8px;
  }

  .heading {
    font-size: 18px;
    color: #f9faf8;
    font-weight: bold;
  }

  .text{
    font-size: 18px;
    color: #f9faf8;
  }

 /* Footer */
  .footer {
    background-color: #1f2937;
    display: flex;
    color: #f9faf8;
    font-size: 12px;
    justify-content: center;
    height: 100px;
    align-items: center;
    margin: 25px;
  }

  ul {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    gap: 8px;
  }