html, body {
  height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
  }

  .header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
  }

  .mainbody{
    display: flex;
    flex-direction: column;
  }

  .sectionone{
    background-color: #1f2937;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: space-between;
  }

  .sectiononeleft {
    display: flex;
    flex-direction: column;
  }

  .subtitleone{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
  }

  .placeholderone{
    width: 200px;
    height: 100px;
  }

  .contentone, .header{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
  }

  .buttonone{
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
  }

  .sectiontwo{
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    align-items: center;
  }

  .subtitletwo{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .card {
    font-size: 18px;
  }

  .cardimage {
    height: 50px;
    width: 50px;
  }

  .sectionthree{
    background-color: #e5e7eb;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
  }

  .quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
  }

  .ref{
    font-size: 18px;
    font-weight: bold;
    justify-content: right;
  }

  .sectionfour{
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    justify-content: center;
  }

  .modal {
    background-color: #3882f6;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
  }

  .modalbutton{
    background-color: #3882f6;
    font-size: 18px;
    outline: #f9faf8;
    color: #f9faf8;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .heading {
    font-size: 18px;
    color: #f9faf8;
    font-weight: bold;
  }

  .text{
    font-size: 18px;
    color: #f9faf8;
  }

  .footer {
    background-color: #1f2937;
    display: flex;
    color: #f9faf8;
    font-size: 12px;
    justify-content: center;
  }

  ul {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    gap: 8px;
  }