@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100vh;
}

  body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
  }

   /* Header */
  .header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
  }

  .mainbody{
    display: flex;
    flex-direction: column;
  }

  /* Section One */
  .sectionone{
    background-color: #1f2937;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: space-between;
    height: 150px;
  }

  .sectiononeleft {
    display: flex;
    flex-direction: column;
  }

  .subtitleone{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
  }

  .placeholderone{
    width: 200px;
    height: 100px;
  }

  .contentone, .header{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
  }

  .buttonone{
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
  }

   /* Section Two */
  .sectiontwo{
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    align-items: center;
  }

  .subtitletwo{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .card {
    font-size: 18px;
  }

  .cardimage {
    height: 50px;
    width: 50px;
  }

   /* Section Three */
  .sectionthree{
    background-color: #e5e7eb;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    height: 150px;
  }

  .quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
  }

  .ref{
    font-size: 18px;
    font-weight: bold;
    justify-content: right;
  }

   /* Section Four */  
  .sectionfour{
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    justify-content: center;
  }

  .modal {
    background-color: #3882f6;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .modalbutton{
    background-color: #3882f6;
    font-size: 18px;
    outline: #f9faf8;
    color: #f9faf8;

  }

  .heading {
    font-size: 18px;
    color: #f9faf8;
    font-weight: bold;
  }

  .text{
    font-size: 18px;
    color: #f9faf8;
  }

 /* Footer */
  .footer {
    background-color: #1f2937;
    display: flex;
    color: #f9faf8;
    font-size: 12px;
    justify-content: center;
    height: 60px;
  }

  ul {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    gap: 8px;
  }